{
	articles = (
		{
			"ad_btn" = {
				"btn_bg_color" = "";
				"btn_schema_and" = "";
				"btn_schema_ios" = "";
				"btn_text" = "";
				"btn_text_color" = "";
				"btn_url" = "";
			};
			"ad_url_android" = "http://v.youku.com/v_show/id_XMTQ5MTcxOTIwOA==.html";
			"ad_url_ios" = "http://v.youku.com/v_show/id_XMTQ5MTcxOTIwOA==.html";
			"ad_url_web" = "http://v.youku.com/v_show/id_XMTQ5MTcxOTIwOA==.html";
			"ad_url_winphone" = "http://v.youku.com/v_show/id_XMTQ5MTcxOTIwOA==.html";
			"alt_score" = 84013;
			"alt_score_weight" = "";
			"article_type" = 103;
			"bili_url" = "";
			"comment_status" = "";
			content = "<p><object width=\"480\" height=\"400\" classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0\"><param name=\"src\" value=\"http://player.youku.com/player.php/sid/XMTQ5MTcxOTIwOA==/v.swf\" /><param name=\"quality\" value=\"high\" /><param name=\"allowscriptaccess\" value=\"always\" /><param name=\"allowfullscreen\" value=\"true\" /><param name=\"wmode\" value=\"opaque\" /><embed src=\"http://player.youku.com/player.php/sid/XMTQ5MTcxOTIwOA==/v.swf\" type=\"application/x-shockwave-flash\" width=\"480\" height=\"400\" wmode=\"transparent\" allowfullscreen=\"true\" quality=\"high\" allowscriptaccess=\"always\" align=\"middle\" /></object></p>";
			"created_at" = "2016-03-06 16:23:26";
			"face_id" = "";
			"for_mobile" = 1;
			group = {
				name = "\U6bcf\U65e5\U4e00\U66b4";
			};
			"group_id" = 1193;
			height = 0;
			id = 33855435;
			"mp4_file_link" = "http://hc32.aipai.com/user/596/17601596/4590714/card/29112972/card.mp4?l=g";
			"mp4_image_height" = 0;
			"mp4_image_link" = "http://kindeditor.b0.upaiyun.com/145725255350e6ed98eeb4dbe35488.jpg";
			"mp4_image_width" = 0;
			neg = "-6";
			"original_id" = "<null>";
			originality = 0;
			"picture_type" = 3;
			pictures = "";
			poll = {};
			"poll_type" = 0;
			pos = 648;
			"public_comments_count" = 19;
			"published_at" = "2016-03-06 16:23:26";
			"reward_count" = 0;
			score = 641;
			series = {
				description = "\U7206\U4e00\U7206\U5450\U4e2a\U7206\U4e00\U7206\Uff0c\U7206\U5f97\U90a3\U4e2a\U8282\U64cd\U5f80\U4e0b\U6389~\n    \n";
				icon = "http://wanzao2.b0.upaiyun.com/system/series/icons/1745/original/1745.png";
				id = 1745;
				name = "\U6bcf\U65e5\U4e00\U66b4";
				"user_id" = 5247158;
				"user_name" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"series_id" = 1745;
			"small_pictures" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			status = publish;
			tags = (
				{
					id = 2;
					name = "\U66b4\U8d70\U6f2b\U753b";
				},
				{
					id = 659;
					name = "\U539f\U521b";
				},
				{
					id = 101698;
					name = "\U6bcf\U65e5\U4e00\U66b4";
				},
				{
					id = 106439;
					name = "\U66b4\U8d70\U51fa\U54c1";
				},
			);
			title = "\U51ac\U5929\U53bb\U4e1c\U5317\U559d\U5564\U9152\U662f\U8fd9\U6837\U7684\U753b\U9762 593\U8bdd";
			"updated_at" = "2016-03-07T09:48:34+08:00";
			user = {
				avatar = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
				id = 5247158;
				login = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"user_avatar" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			"user_id" = 5247158;
			"user_login" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			"watched_count" = 467;
			width = 0;
		},
		{
			"ad_btn" = {
				"btn_bg_color" = "";
				"btn_schema_and" = "";
				"btn_schema_ios" = "";
				"btn_text" = "";
				"btn_text_color" = "";
				"btn_url" = "";
			};
			"ad_url_android" = "http://v.youku.com/v_show/id_XMTQ5MDc1MDEzMg==.html";
			"ad_url_ios" = "http://v.youku.com/v_show/id_XMTQ5MDc1MDEzMg==.html";
			"ad_url_web" = "http://v.youku.com/v_show/id_XMTQ5MDc1MDEzMg==.html";
			"ad_url_winphone" = "http://v.youku.com/v_show/id_XMTQ5MDc1MDEzMg==.html";
			"alt_score" = 68683;
			"alt_score_weight" = "";
			"article_type" = 103;
			"bili_url" = "";
			"comment_status" = "";
			content = "<p><object width=\"480\" height=\"400\" classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0\"><param name=\"src\" value=\"http://player.youku.com/player.php/sid/XMTQ5MDc1MDEzMg==/v.swf\" /><param name=\"quality\" value=\"high\" /><param name=\"allowscriptaccess\" value=\"always\" /><param name=\"allowfullscreen\" value=\"true\" /><param name=\"wmode\" value=\"opaque\" /><embed src=\"http://player.youku.com/player.php/sid/XMTQ5MDc1MDEzMg==/v.swf\" type=\"application/x-shockwave-flash\" width=\"480\" height=\"400\" wmode=\"transparent\" allowfullscreen=\"true\" quality=\"high\" allowscriptaccess=\"always\" align=\"middle\" /></object></p>";
			"created_at" = "2016-03-05 16:41:48";
			"face_id" = "";
			"for_mobile" = 1;
			group = {
				name = "\U6bcf\U65e5\U4e00\U66b4";
			};
			"group_id" = 1193;
			height = 0;
			id = 33795286;
			"mp4_file_link" = "http://hc32.aipai.com/user/596/17601596/4590714/card/29087241/card.mp4";
			"mp4_image_height" = 0;
			"mp4_image_link" = "http://kindeditor.b0.upaiyun.com/14571672570c0132aa2a9aa7a05e15.png";
			"mp4_image_width" = 0;
			neg = "-10";
			"original_id" = "<null>";
			originality = 0;
			"picture_type" = 3;
			pictures = "";
			poll = {};
			"poll_type" = 0;
			pos = 1130;
			"public_comments_count" = 34;
			"published_at" = "2016-03-05 16:41:48";
			"reward_count" = 0;
			score = 1120;
			series = {
				description = "\U7206\U4e00\U7206\U5450\U4e2a\U7206\U4e00\U7206\Uff0c\U7206\U5f97\U90a3\U4e2a\U8282\U64cd\U5f80\U4e0b\U6389~\n        \n";
				icon = "http://wanzao2.b0.upaiyun.com/system/series/icons/1745/original/1745.png";
				id = 1745;
				name = "\U6bcf\U65e5\U4e00\U66b4";
				"user_id" = 5247158;
				"user_name" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"series_id" = 1745;
			"small_pictures" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			status = publish;
			tags = (
				{
					id = 2;
					name = "\U66b4\U8d70\U6f2b\U753b";
				},
				{
					id = 659;
					name = "\U539f\U521b";
				},
				{
					id = 101698;
					name = "\U6bcf\U65e5\U4e00\U66b4";
				},
				{
					id = 106439;
					name = "\U66b4\U8d70\U51fa\U54c1";
				},
			);
			title = "\U5230\U5e95\U662f\U5148\U6709\U8001\U5a46\U8fd8\U662f\U5148\U6709\U5b69\U5b50\Uff1f 592\U8bdd";
			"updated_at" = "2016-03-07T09:48:49+08:00";
			user = {
				avatar = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
				id = 5247158;
				login = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"user_avatar" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			"user_id" = 5247158;
			"user_login" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			"watched_count" = 873;
			width = 0;
		},
		{
			"ad_btn" = {
				"btn_bg_color" = "";
				"btn_schema_and" = "";
				"btn_schema_ios" = "";
				"btn_text" = "";
				"btn_text_color" = "";
				"btn_url" = "";
			};
			"ad_url_android" = "http://v.youku.com/v_show/id_XMTQ4OTc0NDg3Ng==.html";
			"ad_url_ios" = "http://v.youku.com/v_show/id_XMTQ4OTc0NDg3Ng==.html";
			"ad_url_web" = "http://v.youku.com/v_show/id_XMTQ4OTc0NDg3Ng==.html";
			"ad_url_winphone" = "http://v.youku.com/v_show/id_XMTQ4OTc0NDg3Ng==.html";
			"alt_score" = 56120;
			"alt_score_weight" = "";
			"article_type" = 103;
			"bili_url" = "";
			"comment_status" = "";
			content = "<p><object width=\"480\" height=\"400\" classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0\"><param name=\"src\" value=\"http://player.youku.com/player.php/Type/Folder/Fid/26655010/Ob/1/sid/XMTQ4OTc0NDg3Ng==/v.swf\" /><param name=\"quality\" value=\"high\" /><param name=\"allowscriptaccess\" value=\"always\" /><param name=\"allowfullscreen\" value=\"true\" /><param name=\"wmode\" value=\"opaque\" /><embed src=\"http://player.youku.com/player.php/Type/Folder/Fid/26655010/Ob/1/sid/XMTQ4OTc0NDg3Ng==/v.swf\" type=\"application/x-shockwave-flash\" width=\"480\" height=\"400\" wmode=\"transparent\" allowfullscreen=\"true\" quality=\"high\" allowscriptaccess=\"always\" align=\"middle\" /></object></p>";
			"created_at" = "2016-03-04 16:20:58";
			"face_id" = "";
			"for_mobile" = 1;
			group = {
				name = "\U6bcf\U65e5\U4e00\U66b4";
			};
			"group_id" = 1193;
			height = 0;
			id = 33758942;
			"mp4_file_link" = "http://hc32.aipai.com/user/596/17601596/4590714/card/29058182/card.mp4";
			"mp4_image_height" = 0;
			"mp4_image_link" = "http://kindeditor.b0.upaiyun.com/1457079606a67169dd16d49a9beb36.png";
			"mp4_image_width" = 0;
			neg = "-4";
			"original_id" = "<null>";
			originality = 0;
			"picture_type" = 3;
			pictures = "";
			poll = {};
			"poll_type" = 0;
			pos = 968;
			"public_comments_count" = 24;
			"published_at" = "2016-03-04 16:20:58";
			"reward_count" = 0;
			score = 964;
			series = {
				description = "\U7206\U4e00\U7206\U5450\U4e2a\U7206\U4e00\U7206\Uff0c\U7206\U5f97\U90a3\U4e2a\U8282\U64cd\U5f80\U4e0b\U6389~\n            \n";
				icon = "http://wanzao2.b0.upaiyun.com/system/series/icons/1745/original/1745.png";
				id = 1745;
				name = "\U6bcf\U65e5\U4e00\U66b4";
				"user_id" = 5247158;
				"user_name" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"series_id" = 1745;
			"small_pictures" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			status = publish;
			tags = (
				{
					id = 2;
					name = "\U66b4\U8d70\U6f2b\U753b";
				},
				{
					id = 659;
					name = "\U539f\U521b";
				},
				{
					id = 101698;
					name = "\U6bcf\U65e5\U4e00\U66b4";
				},
				{
					id = 106439;
					name = "\U66b4\U8d70\U51fa\U54c1";
				},
			);
			title = "\U8fd9\U662f\U6211\U542c\U8fc7\U6700\U65e0\U803b\U7684\U8fdf\U5230\U7406\U7531 591\U8bdd";
			"updated_at" = "2016-03-07T09:48:34+08:00";
			user = {
				avatar = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
				id = 5247158;
				login = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"user_avatar" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			"user_id" = 5247158;
			"user_login" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			"watched_count" = 770;
			width = 0;
		},
		{
			"ad_btn" = {
				"btn_bg_color" = "";
				"btn_schema_and" = "";
				"btn_schema_ios" = "";
				"btn_text" = "";
				"btn_text_color" = "";
				"btn_url" = "";
			};
			"ad_url_android" = "http://v.youku.com/v_show/id_XMTQ4ODc2NzkwOA==.html";
			"ad_url_ios" = "http://v.youku.com/v_show/id_XMTQ4ODc2NzkwOA==.html";
			"ad_url_web" = "http://v.youku.com/v_show/id_XMTQ4ODc2NzkwOA==.html";
			"ad_url_winphone" = "http://v.youku.com/v_show/id_XMTQ4ODc2NzkwOA==.html";
			"alt_score" = 45905;
			"alt_score_weight" = "";
			"article_type" = 103;
			"bili_url" = "";
			"comment_status" = "";
			content = "<p><object width=\"480\" height=\"400\" classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0\"><param name=\"src\" value=\"http://player.youku.com/player.php/sid/XMTQ4ODc2NzkwOA==/v.swf\" /><param name=\"quality\" value=\"high\" /><param name=\"allowscriptaccess\" value=\"always\" /><param name=\"allowfullscreen\" value=\"true\" /><param name=\"wmode\" value=\"opaque\" /><embed src=\"http://player.youku.com/player.php/sid/XMTQ4ODc2NzkwOA==/v.swf\" type=\"application/x-shockwave-flash\" width=\"480\" height=\"400\" wmode=\"transparent\" allowfullscreen=\"true\" quality=\"high\" allowscriptaccess=\"always\" align=\"middle\" /></object></p>";
			"created_at" = "2016-03-03 17:11:21";
			"face_id" = "";
			"for_mobile" = 1;
			group = {
				name = "\U6bcf\U65e5\U4e00\U66b4";
			};
			"group_id" = 1193;
			height = 0;
			id = 33735697;
			"mp4_file_link" = "http://hc32.aipai.com/user/596/17601596/4590714/card/29051206/card.mp4";
			"mp4_image_height" = 0;
			"mp4_image_link" = "http://kindeditor.b0.upaiyun.com/145699621480532080b0705718ebe8.png";
			"mp4_image_width" = 0;
			neg = "-4";
			"original_id" = "<null>";
			originality = 0;
			"picture_type" = 3;
			pictures = "";
			poll = {};
			"poll_type" = 0;
			pos = 832;
			"public_comments_count" = 23;
			"published_at" = "2016-03-03 17:11:21";
			"reward_count" = 0;
			score = 828;
			series = {
				description = "\U7206\U4e00\U7206\U5450\U4e2a\U7206\U4e00\U7206\Uff0c\U7206\U5f97\U90a3\U4e2a\U8282\U64cd\U5f80\U4e0b\U6389~\n                \n";
				icon = "http://wanzao2.b0.upaiyun.com/system/series/icons/1745/original/1745.png";
				id = 1745;
				name = "\U6bcf\U65e5\U4e00\U66b4";
				"user_id" = 5247158;
				"user_name" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"series_id" = 1745;
			"small_pictures" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			status = publish;
			tags = (
				{
					id = 2;
					name = "\U66b4\U8d70\U6f2b\U753b";
				},
				{
					id = 659;
					name = "\U539f\U521b";
				},
				{
					id = 101698;
					name = "\U6bcf\U65e5\U4e00\U66b4";
				},
				{
					id = 106439;
					name = "\U66b4\U8d70\U51fa\U54c1";
				},
			);
			title = "\U8001\U677f\U624b\U673a\U4e22\U4e86\U6025\U574f\U4e86\U79d8\U4e66 590\U8bdd";
			"updated_at" = "2016-03-07T09:49:11+08:00";
			user = {
				avatar = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
				id = 5247158;
				login = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"user_avatar" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			"user_id" = 5247158;
			"user_login" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			"watched_count" = 635;
			width = 0;
		},
		{
			"ad_btn" = {
				"btn_bg_color" = "";
				"btn_schema_and" = "";
				"btn_schema_ios" = "";
				"btn_text" = "";
				"btn_text_color" = "";
				"btn_url" = "";
			};
			"ad_url_android" = "http://v.youku.com/v_show/id_XMTQ4Nzc2MjU0OA==.html";
			"ad_url_ios" = "http://v.youku.com/v_show/id_XMTQ4Nzc2MjU0OA==.html";
			"ad_url_web" = "http://v.youku.com/v_show/id_XMTQ4Nzc2MjU0OA==.html";
			"ad_url_winphone" = "http://v.youku.com/v_show/id_XMTQ4Nzc2MjU0OA==.html";
			"alt_score" = 37049;
			"alt_score_weight" = "";
			"article_type" = 103;
			"bili_url" = "";
			"comment_status" = "";
			content = "<p><object width=\"480\" height=\"400\" classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0\"><param name=\"src\" value=\"http://player.youku.com/player.php/sid/XMTQ4Nzc2MjU0OA==/v.swf\" /><param name=\"quality\" value=\"high\" /><param name=\"allowscriptaccess\" value=\"always\" /><param name=\"allowfullscreen\" value=\"true\" /><param name=\"wmode\" value=\"opaque\" /><embed src=\"http://player.youku.com/player.php/sid/XMTQ4Nzc2MjU0OA==/v.swf\" type=\"application/x-shockwave-flash\" width=\"480\" height=\"400\" wmode=\"transparent\" allowfullscreen=\"true\" quality=\"high\" allowscriptaccess=\"always\" align=\"middle\" /></object></p>";
			"created_at" = "2016-03-02 16:54:38";
			"face_id" = "";
			"for_mobile" = 1;
			group = {
				name = "\U6bcf\U65e5\U4e00\U66b4";
			};
			"group_id" = 1193;
			height = 0;
			id = 33712054;
			"mp4_file_link" = "http://hc32.aipai.com/user/596/17601596/4590714/card/29041590/card.mp4";
			"mp4_image_height" = 0;
			"mp4_image_link" = "http://kindeditor.b0.upaiyun.com/1456908834283055d3d958f0efceb7.png";
			"mp4_image_width" = 0;
			neg = "-8";
			"original_id" = "<null>";
			originality = 0;
			"picture_type" = 3;
			pictures = "";
			poll = {};
			"poll_type" = 0;
			pos = 840;
			"public_comments_count" = 20;
			"published_at" = "2016-03-02 16:54:38";
			"reward_count" = 0;
			score = 832;
			series = {
				description = "\U7206\U4e00\U7206\U5450\U4e2a\U7206\U4e00\U7206\Uff0c\U7206\U5f97\U90a3\U4e2a\U8282\U64cd\U5f80\U4e0b\U6389~\n                    \n";
				icon = "http://wanzao2.b0.upaiyun.com/system/series/icons/1745/original/1745.png";
				id = 1745;
				name = "\U6bcf\U65e5\U4e00\U66b4";
				"user_id" = 5247158;
				"user_name" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"series_id" = 1745;
			"small_pictures" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			status = publish;
			tags = (
				{
					id = 2;
					name = "\U66b4\U8d70\U6f2b\U753b";
				},
				{
					id = 659;
					name = "\U539f\U521b";
				},
				{
					id = 101698;
					name = "\U6bcf\U65e5\U4e00\U66b4";
				},
				{
					id = 106439;
					name = "\U66b4\U8d70\U51fa\U54c1";
				},
			);
			title = "\U5973\U795e\U770b\U89c1\U6211\U5c31\U6709\U6000\U5b55\U7684\U611f\U89c9 589\U8bdd";
			"updated_at" = "2016-03-07T09:48:41+08:00";
			user = {
				avatar = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
				id = 5247158;
				login = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"user_avatar" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			"user_id" = 5247158;
			"user_login" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			"watched_count" = 629;
			width = 0;
		},
		{
			"ad_btn" = {
				"btn_bg_color" = "";
				"btn_schema_and" = "";
				"btn_schema_ios" = "";
				"btn_text" = "";
				"btn_text_color" = "";
				"btn_url" = "";
			};
			"ad_url_android" = "http://v.youku.com/v_show/id_XMTQ4NjgxMzAyMA==.html";
			"ad_url_ios" = "http://v.youku.com/v_show/id_XMTQ4NjgxMzAyMA==.html";
			"ad_url_web" = "http://v.youku.com/v_show/id_XMTQ4NjgxMzAyMA==.html";
			"ad_url_winphone" = "http://v.youku.com/v_show/id_XMTQ4NjgxMzAyMA==.html";
			"alt_score" = 30215;
			"alt_score_weight" = "";
			"article_type" = 103;
			"bili_url" = "";
			"comment_status" = "";
			content = "<p><object width=\"480\" height=\"400\" classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0\"><param name=\"src\" value=\"http://player.youku.com/player.php/sid/XMTQ4NjgxMzAyMA==/v.swf\" /><param name=\"quality\" value=\"high\" /><param name=\"allowscriptaccess\" value=\"always\" /><param name=\"allowfullscreen\" value=\"true\" /><param name=\"wmode\" value=\"opaque\" /><embed src=\"http://player.youku.com/player.php/sid/XMTQ4NjgxMzAyMA==/v.swf\" type=\"application/x-shockwave-flash\" width=\"480\" height=\"400\" wmode=\"transparent\" allowfullscreen=\"true\" quality=\"high\" allowscriptaccess=\"always\" align=\"middle\" /></object></p>";
			"created_at" = "2016-03-01 17:08:07";
			"face_id" = "";
			"for_mobile" = 1;
			group = {
				name = "\U6bcf\U65e5\U4e00\U66b4";
			};
			"group_id" = 1193;
			height = 0;
			id = 33689839;
			"mp4_file_link" = "http://hc32.aipai.com/user/596/17601596/4590714/card/29033637/card.mp4";
			"mp4_image_height" = 0;
			"mp4_image_link" = "http://kindeditor.b0.upaiyun.com/1456823237424c8a053616e312ecbc.png";
			"mp4_image_width" = 0;
			neg = "-8";
			"original_id" = "<null>";
			originality = 0;
			"picture_type" = 3;
			pictures = "";
			poll = {};
			"poll_type" = 0;
			pos = 945;
			"public_comments_count" = 18;
			"published_at" = "2016-03-01 17:08:07";
			"reward_count" = 0;
			score = 937;
			series = {
				description = "\U7206\U4e00\U7206\U5450\U4e2a\U7206\U4e00\U7206\Uff0c\U7206\U5f97\U90a3\U4e2a\U8282\U64cd\U5f80\U4e0b\U6389~\n                        \n";
				icon = "http://wanzao2.b0.upaiyun.com/system/series/icons/1745/original/1745.png";
				id = 1745;
				name = "\U6bcf\U65e5\U4e00\U66b4";
				"user_id" = 5247158;
				"user_name" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"series_id" = 1745;
			"small_pictures" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			status = publish;
			tags = (
				{
					id = 2;
					name = "\U66b4\U8d70\U6f2b\U753b";
				},
				{
					id = 659;
					name = "\U539f\U521b";
				},
				{
					id = 101698;
					name = "\U6bcf\U65e5\U4e00\U66b4";
				},
				{
					id = 106439;
					name = "\U66b4\U8d70\U51fa\U54c1";
				},
			);
			title = "\U7238\U7238\U6bd4\U5988\U5988\U591a\U4e86\U4e00\U628a\U67aa  588\U8bdd";
			"updated_at" = "2016-03-07T09:49:06+08:00";
			user = {
				avatar = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
				id = 5247158;
				login = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"user_avatar" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			"user_id" = 5247158;
			"user_login" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			"watched_count" = 711;
			width = 0;
		},
		{
			"ad_btn" = {
				"btn_bg_color" = "";
				"btn_schema_and" = "";
				"btn_schema_ios" = "";
				"btn_text" = "";
				"btn_text_color" = "";
				"btn_url" = "";
			};
			"ad_url_android" = "http://v.youku.com/v_show/id_XMTQ4NTc5MzUwMA==.html";
			"ad_url_ios" = "http://v.youku.com/v_show/id_XMTQ4NTc5MzUwMA==.html";
			"ad_url_web" = "http://v.youku.com/v_show/id_XMTQ4NTc5MzUwMA==.html";
			"ad_url_winphone" = "http://v.youku.com/v_show/id_XMTQ4NTc5MzUwMA==.html";
			"alt_score" = 24714;
			"alt_score_weight" = "";
			"article_type" = 103;
			"bili_url" = "";
			"comment_status" = "";
			content = "<p><object width=\"480\" height=\"400\" classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0\"><param name=\"src\" value=\"http://player.youku.com/player.php/sid/XMTQ4NTc5MzUwMA==/v.swf\" /><param name=\"quality\" value=\"high\" /><param name=\"allowscriptaccess\" value=\"always\" /><param name=\"allowfullscreen\" value=\"true\" /><param name=\"wmode\" value=\"opaque\" /><embed src=\"http://player.youku.com/player.php/sid/XMTQ4NTc5MzUwMA==/v.swf\" type=\"application/x-shockwave-flash\" width=\"480\" height=\"400\" wmode=\"transparent\" allowfullscreen=\"true\" quality=\"high\" allowscriptaccess=\"always\" align=\"middle\" /></object></p>";
			"created_at" = "2016-02-29 16:56:14";
			"face_id" = "";
			"for_mobile" = 1;
			group = {
				name = "\U6bcf\U65e5\U4e00\U66b4";
			};
			"group_id" = 1193;
			height = 0;
			id = 33666175;
			"mp4_file_link" = "http://hc32.aipai.com/user/596/17601596/4590714/card/29021912/card.mp4";
			"mp4_image_height" = 0;
			"mp4_image_link" = "http://kindeditor.b0.upaiyun.com/1456736065f647a65b15a60e23b0f6.jpg";
			"mp4_image_width" = 0;
			neg = "-5";
			"original_id" = "<null>";
			originality = 0;
			"picture_type" = 3;
			pictures = "";
			poll = {};
			"poll_type" = 0;
			pos = 910;
			"public_comments_count" = 24;
			"published_at" = "2016-02-29 16:56:14";
			"reward_count" = 0;
			score = 905;
			series = {
				description = "\U7206\U4e00\U7206\U5450\U4e2a\U7206\U4e00\U7206\Uff0c\U7206\U5f97\U90a3\U4e2a\U8282\U64cd\U5f80\U4e0b\U6389~\n                            \n";
				icon = "http://wanzao2.b0.upaiyun.com/system/series/icons/1745/original/1745.png";
				id = 1745;
				name = "\U6bcf\U65e5\U4e00\U66b4";
				"user_id" = 5247158;
				"user_name" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"series_id" = 1745;
			"small_pictures" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			status = publish;
			tags = (
				{
					id = 2;
					name = "\U66b4\U8d70\U6f2b\U753b";
				},
				{
					id = 659;
					name = "\U539f\U521b";
				},
				{
					id = 101698;
					name = "\U6bcf\U65e5\U4e00\U66b4";
				},
				{
					id = 106439;
					name = "\U66b4\U8d70\U51fa\U54c1";
				},
			);
			title = "\U7ec8\U4e8e\U77e5\U9053\U5982\U4f55\U8fbe\U6210\U68a6\U60f3\U4e86 587\U8bdd";
			"updated_at" = "2016-03-07T09:49:16+08:00";
			user = {
				avatar = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
				id = 5247158;
				login = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"user_avatar" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			"user_id" = 5247158;
			"user_login" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			"watched_count" = 718;
			width = 0;
		},
		{
			"ad_btn" = {
				"btn_bg_color" = "";
				"btn_schema_and" = "";
				"btn_schema_ios" = "";
				"btn_text" = "";
				"btn_text_color" = "";
				"btn_url" = "";
			};
			"ad_url_android" = "http://v.youku.com/v_show/id_XMTQ4NDgyODE0OA==.html";
			"ad_url_ios" = "http://v.youku.com/v_show/id_XMTQ4NDgyODE0OA==.html";
			"ad_url_web" = "http://v.youku.com/v_show/id_XMTQ4NDgyODE0OA==.html";
			"ad_url_winphone" = "http://v.youku.com/v_show/id_XMTQ4NDgyODE0OA==.html";
			"alt_score" = 19945;
			"alt_score_weight" = "";
			"article_type" = 103;
			"bili_url" = "";
			"comment_status" = "";
			content = "<p><object width=\"480\" height=\"400\" classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0\"><param name=\"src\" value=\"http://player.youku.com/player.php/sid/XMTQ4NDgyODE0OA==/v.swf\" /><param name=\"quality\" value=\"high\" /><param name=\"allowscriptaccess\" value=\"always\" /><param name=\"allowfullscreen\" value=\"true\" /><param name=\"wmode\" value=\"opaque\" /><embed src=\"http://player.youku.com/player.php/sid/XMTQ4NDgyODE0OA==/v.swf\" type=\"application/x-shockwave-flash\" width=\"480\" height=\"400\" wmode=\"transparent\" allowfullscreen=\"true\" quality=\"high\" allowscriptaccess=\"always\" align=\"middle\" /></object></p>";
			"created_at" = "2016-02-28 17:32:16";
			"face_id" = "";
			"for_mobile" = 1;
			group = {
				name = "\U6bcf\U65e5\U4e00\U66b4";
			};
			"group_id" = 1193;
			height = 0;
			id = 33643043;
			"mp4_file_link" = "http://hc31.aipai.com/user/596/17601596/4590714/card/29000453/card.mp4";
			"mp4_image_height" = 0;
			"mp4_image_link" = "http://kindeditor.b0.upaiyun.com/14566519338051fcb3cd994296e174.png";
			"mp4_image_width" = 0;
			neg = "-11";
			"original_id" = "<null>";
			originality = 0;
			"picture_type" = 3;
			pictures = "";
			poll = {};
			"poll_type" = 0;
			pos = 963;
			"public_comments_count" = 30;
			"published_at" = "2016-02-28 17:32:16";
			"reward_count" = 0;
			score = 952;
			series = {
				description = "\U7206\U4e00\U7206\U5450\U4e2a\U7206\U4e00\U7206\Uff0c\U7206\U5f97\U90a3\U4e2a\U8282\U64cd\U5f80\U4e0b\U6389~\n                                \n";
				icon = "http://wanzao2.b0.upaiyun.com/system/series/icons/1745/original/1745.png";
				id = 1745;
				name = "\U6bcf\U65e5\U4e00\U66b4";
				"user_id" = 5247158;
				"user_name" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"series_id" = 1745;
			"small_pictures" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			status = publish;
			tags = (
				{
					id = 2;
					name = "\U66b4\U8d70\U6f2b\U753b";
				},
				{
					id = 659;
					name = "\U539f\U521b";
				},
				{
					id = 101698;
					name = "\U6bcf\U65e5\U4e00\U66b4";
				},
				{
					id = 106439;
					name = "\U66b4\U8d70\U51fa\U54c1";
				},
			);
			title = "\U771f\U5b9e\U7684\U4f5c\U6b7b\U4e4b\U65c5\U5e94\U8be5\U662f\U8fd9\U6837\U7684 586\U8bdd";
			"updated_at" = "2016-03-07T09:48:38+08:00";
			user = {
				avatar = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
				id = 5247158;
				login = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"user_avatar" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			"user_id" = 5247158;
			"user_login" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			"watched_count" = 712;
			width = 0;
		},
		{
			"ad_btn" = {
				"btn_bg_color" = "";
				"btn_schema_and" = "";
				"btn_schema_ios" = "";
				"btn_text" = "";
				"btn_text_color" = "";
				"btn_url" = "";
			};
			"ad_url_android" = "http://v.youku.com/v_show/id_XMTQ4MzkxOTc2MA==.html";
			"ad_url_ios" = "http://v.youku.com/v_show/id_XMTQ4MzkxOTc2MA==.html";
			"ad_url_web" = "http://v.youku.com/v_show/id_XMTQ4MzkxOTc2MA==.html";
			"ad_url_winphone" = "http://v.youku.com/v_show/id_XMTQ4MzkxOTc2MA==.html";
			"alt_score" = 16406;
			"alt_score_weight" = "";
			"article_type" = 103;
			"bili_url" = "";
			"comment_status" = "";
			content = "<p><object width=\"480\" height=\"400\" classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0\"><param name=\"src\" value=\"http://player.youku.com/player.php/sid/XMTQ4MzkxOTc2MA==/v.swf\" /><param name=\"quality\" value=\"high\" /><param name=\"allowscriptaccess\" value=\"always\" /><param name=\"allowfullscreen\" value=\"true\" /><param name=\"wmode\" value=\"opaque\" /><embed src=\"http://player.youku.com/player.php/sid/XMTQ4MzkxOTc2MA==/v.swf\" type=\"application/x-shockwave-flash\" width=\"480\" height=\"400\" wmode=\"transparent\" allowfullscreen=\"true\" quality=\"high\" allowscriptaccess=\"always\" align=\"middle\" /></object></p>";
			"created_at" = "2016-02-27 17:00:00";
			"face_id" = "";
			"for_mobile" = 1;
			group = {
				name = "\U6bcf\U65e5\U4e00\U66b4";
			};
			"group_id" = 1193;
			height = 0;
			id = 33606525;
			"mp4_file_link" = "http://hc31.aipai.com/user/596/17601596/4590714/card/28975563/card.mp4";
			"mp4_image_height" = 0;
			"mp4_image_link" = "http://kindeditor.b0.upaiyun.com/145656355694503346e44c1e4322d4.png";
			"mp4_image_width" = 0;
			neg = "-9";
			"original_id" = "<null>";
			originality = 0;
			"picture_type" = 3;
			pictures = "";
			poll = {};
			"poll_type" = 0;
			pos = 1272;
			"public_comments_count" = 39;
			"published_at" = "2016-02-27 17:00:00";
			"reward_count" = 0;
			score = 1263;
			series = {
				description = "\U7206\U4e00\U7206\U5450\U4e2a\U7206\U4e00\U7206\Uff0c\U7206\U5f97\U90a3\U4e2a\U8282\U64cd\U5f80\U4e0b\U6389~\n                                    \n";
				icon = "http://wanzao2.b0.upaiyun.com/system/series/icons/1745/original/1745.png";
				id = 1745;
				name = "\U6bcf\U65e5\U4e00\U66b4";
				"user_id" = 5247158;
				"user_name" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"series_id" = 1745;
			"small_pictures" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			status = publish;
			tags = (
				{
					id = 2;
					name = "\U66b4\U8d70\U6f2b\U753b";
				},
				{
					id = 659;
					name = "\U539f\U521b";
				},
				{
					id = 101698;
					name = "\U6bcf\U65e5\U4e00\U66b4";
				},
				{
					id = 106439;
					name = "\U66b4\U8d70\U51fa\U54c1";
				},
			);
			title = "\U5973\U53cb\U7adf\U7136\U60f3\U8981\U5ac1\U7ed9\U5cb3\U7236 585\U8bdd";
			"updated_at" = "2016-03-07T09:49:13+08:00";
			user = {
				avatar = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
				id = 5247158;
				login = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"user_avatar" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			"user_id" = 5247158;
			"user_login" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			"watched_count" = 1001;
			width = 0;
		},
		{
			"ad_btn" = {
				"btn_bg_color" = "";
				"btn_schema_and" = "";
				"btn_schema_ios" = "";
				"btn_text" = "";
				"btn_text_color" = "";
				"btn_url" = "";
			};
			"ad_url_android" = "http://v.youku.com/v_show/id_XMTQ4MjkwNjY0NA==.html";
			"ad_url_ios" = "http://v.youku.com/v_show/id_XMTQ4MjkwNjY0NA==.html";
			"ad_url_web" = "http://v.youku.com/v_show/id_XMTQ4MjkwNjY0NA==.html";
			"ad_url_winphone" = "http://v.youku.com/v_show/id_XMTQ4MjkwNjY0NA==.html";
			"alt_score" = 13266;
			"alt_score_weight" = "";
			"article_type" = 103;
			"bili_url" = "";
			"comment_status" = "";
			content = "<p><object width=\"480\" height=\"400\" classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0\"><param name=\"src\" value=\"http://player.youku.com/player.php/sid/XMTQ4MjkwNjY0NA==/v.swf\" /><param name=\"quality\" value=\"high\" /><param name=\"allowscriptaccess\" value=\"always\" /><param name=\"allowfullscreen\" value=\"true\" /><param name=\"wmode\" value=\"opaque\" /><embed src=\"http://player.youku.com/player.php/sid/XMTQ4MjkwNjY0NA==/v.swf\" type=\"application/x-shockwave-flash\" width=\"480\" height=\"400\" wmode=\"transparent\" allowfullscreen=\"true\" quality=\"high\" allowscriptaccess=\"always\" align=\"middle\" /></object></p>";
			"created_at" = "2016-02-26 16:33:47";
			"face_id" = "";
			"for_mobile" = 1;
			group = {
				name = "\U6bcf\U65e5\U4e00\U66b4";
			};
			"group_id" = 1193;
			height = 0;
			id = 33574142;
			"mp4_file_link" = "http://hc32.aipai.com/user/596/17601596/4590714/card/28960277/card.mp4";
			"mp4_image_height" = 0;
			"mp4_image_link" = "http://kindeditor.b0.upaiyun.com/145647558192b8214a34f2d6402f61.png";
			"mp4_image_width" = 0;
			neg = "-7";
			"original_id" = "<null>";
			originality = 0;
			"picture_type" = 3;
			pictures = "";
			poll = {};
			"poll_type" = 0;
			pos = 1153;
			"public_comments_count" = 26;
			"published_at" = "2016-02-26 16:33:47";
			"reward_count" = 0;
			score = 1146;
			series = {
				description = "\U7206\U4e00\U7206\U5450\U4e2a\U7206\U4e00\U7206\Uff0c\U7206\U5f97\U90a3\U4e2a\U8282\U64cd\U5f80\U4e0b\U6389~\n                                        \n";
				icon = "http://wanzao2.b0.upaiyun.com/system/series/icons/1745/original/1745.png";
				id = 1745;
				name = "\U6bcf\U65e5\U4e00\U66b4";
				"user_id" = 5247158;
				"user_name" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"series_id" = 1745;
			"small_pictures" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			status = publish;
			tags = (
				{
					id = 2;
					name = "\U66b4\U8d70\U6f2b\U753b";
				},
				{
					id = 659;
					name = "\U539f\U521b";
				},
				{
					id = 101698;
					name = "\U6bcf\U65e5\U4e00\U66b4";
				},
				{
					id = 106439;
					name = "\U66b4\U8d70\U51fa\U54c1";
				},
			);
			title = "\U8fd9\U5c31\U662f\U4f60\U5b64\U72ec\U7ec8\U8001\U7684\U539f\U56e0 584\U8bdd";
			"updated_at" = "2016-03-06T18:56:10+08:00";
			user = {
				avatar = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
				id = 5247158;
				login = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			};
			"user_avatar" = "http://wanzao2.b0.upaiyun.com/system/avatars/5247158/original/20140616114624611.jpg-s1";
			"user_id" = 5247158;
			"user_login" = "\U66b4\U8d70\U6f2b\U753b\U6bcf\U65e5\U4e00\U66b4";
			"watched_count" = 888;
			width = 0;
		},
	);
	page = 1;
	pagesize = 10;
	series = {
		"alt_score" = 0;
		"complete_status" = 0;
		"created_at" = "2014-06-16 11:49:15";
		"data_box" = {
			"sound_url" = "";
		};
		description = "\U7206\U4e00\U7206\U5450\U4e2a\U7206\U4e00\U7206\Uff0c\U7206\U5f97\U90a3\U4e2a\U8282\U64cd\U5f80\U4e0b\U6389~\n                                        \n";
		"follower_count" = 75660;
		"group_id" = 19;
		id = 1745;
		"last_article_id" = 33855435;
		name = "\U6bcf\U65e5\U4e00\U66b4";
		"name_in_pinyin" = "mei ri yi bao";
		pictures = "http://wanzao2.b0.upaiyun.com/system/series/icons/1745/original/1745.png";
		score = 0;
		"serial_info" = "<null>";
		"small_pictures" = "http://wanzao2.b0.upaiyun.com/system/series/icons/1745/original/1745.png-s1";
		"total_articles_count" = 574;
		type = Series;
	};
	"subscriptions_count" = 75997;
	"total_count" = 574;
	"total_pages" = 58;
}